.fondoGris {
background-color:#808080;
color:white;
height:100%;
}

.fondonegro {
background-color:#000000;

}

/*AGREGADO DE ALEXIS*/
.Logo{
padding-left: 0%;
width: 350px; 
height: 100px;
}

.MenuHorizontal{
background-color:gray;
text-decoration-color: white;
float: right;
}

.TextoJustificado{
    text-align: justify;
}

.LogoClientes{
padding-left: 0%;
width: 150px; 
height: 50px;
border: black 2px solid;
}

.NoEditable{
resize: none;
}

.borde {
border-style:solid;
border-color:#808080;
border-width:3px;
}

.fondotest {
background-color:#E3EAEB;

}

.miLabel {
text-align:right;
font-size:16px;
font-weight:bold;
padding-right:10px;
padding-top:2px;
font-family:'Estrangelo Edessa';
}

itemMenu {
margin-left:40px;
width:100%;
}

.bordePagina {
border-style:solid;
border-color:#808080;
border-width:4px;
}





.panel-Clima {
  border-color: #363435;
}
.panel-Clima > .panel-heading {
  color: #fff;
  background-color: #363435;
  border-color: #337ab7;
}
.panel-Clima > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #337ab7;
}
.panel-Clima > .panel-heading .badge {
  color: #337ab7;
  background-color: #fff;
}
.panel-Clima > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #337ab7;
}

.icon {
width:20px;
height:20px;

}